node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Apps files
/apps/version1_onboarding/links/*
/apps/version1_onboarding/cache/*
/apps/version1_onboarding/data/*
/apps/version1_onboarding/links/linkNote.json
apps/version1_onboarding/links/linkNote.json

/apps/version2_private_transfers/links/*
/apps/version2_private_transfers/cache/*
/apps/version2_private_transfers/data/*
/apps/version2_private_transfers/links/linkNote.json
apps/version2_private_transfers/links/linkNote.json

/apps/version2_private_transfers_POI/links/*
/apps/version2_private_transfers_POI/cache/*
/apps/version2_private_transfers_POI/data/*
/apps/version2_private_transfers_POI/links/linkNote.json
apps/version2_private_transfers_POI/links/linkNote.json

/apps/version3_flag_propagation/links/*
/apps/version3_flag_propagation/cache/*
/apps/version3_flag_propagation/data/*
/apps/version3_flag_propagation/links/linkNote.json
apps/version3_flag_propagation/links/linkNote.json

# circuits files
/home/andrea/Desktop/smart-private-wallet/circuits/artifacts/circuits/ptau18

/circuits/artifacts/circuits/*contracts/test/artifacts/ptau18
