node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Apps files
/apps/version1_onboarding/contacts/*
/apps/version1_onboarding/links/*
/apps/version1_onboarding/nullifiers/*
/apps/version1_onboarding/cache/*

/apps/version2_private_transfers/contacts/*
/apps/version2_private_transfers/links/*
/apps/version2_private_transfers/nullifiers/*
/apps/version2_private_transfers/keypair/*
/apps/version2_private_transfers/cache/*

/apps/version3_compliance/links/*
/apps/version3_compliance/cache/*
/apps/version3_compliance/data/*

# circuits files
/home/andrea/Desktop/smart-private-wallet/circuits/artifacts/circuits/ptau18

/circuits/artifacts/circuits/*